div:hover {
  border: 2px solid red;
}
#primaria{
  background-color: red;
  color: aqua;
}

#secundaria{
  background-color: rosybrown;
  color: bisque;
}
#complementar{
  background-color: royalblue;
  color: blanchedalmond;
  height: 2em;
}
#escura{
  background-color: slategray;
  color: burlywood;
}
#clara{
  background-color: turquoise;
  color: blue;
}