div:hover {
  border: 2px solid red;
}
#primaria{
  background-color: red;
}

#secundaria{
  background-color: rosybrown;
}
#complementar{
  background-color: royalblue;
}
#escura{
  background-color: slategray;
}