h1{
    size: 65 px;
    color: orange;
    font-family: sans-serif;            
}

li{
    background-color: orchid;
    font-style: oblique;            
}

.cor-fundo{
    background-color: gray;
    line-height: 150%;
}

p{
    font-weight: 600;
    font-size: 3em;
    text-align: justify;
    text-decoration: blue;
}

body{
    font-size: 16px;
}

.cor-fundo-item-lista{
    background-color: black;
}